[{kernel,
  [{distributed, 
    [{chucky, 
      5000, 
      ["a@Christian-Sakais-MacBook-Pro", {"b@Christian-Sakais-MacBook-Pro", "c@Christian-Sakais-MacBook-Pro"}]}]},
   {sync_nodes_mandatory, ["a@Christian-Sakais-MacBook-Pro", "c@Christian-Sakais-MacBook-Pro"]},
   {sync_nodes_timeout, 30000}
   ]}].
